body {
  background: #18181B;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  margin: 0;
  color: #1f2226;
}

.dashboard {
  padding: 40px 60px;
}

.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}


.titulo-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.botao-novo {
  background-color: #10B981;
  border: none;
  padding: none;
  margin: none;
  border-radius: 8px;
  display: flex;
  width: 35px;
  height: 38px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: none;
}

.Titulo {
  font-weight: 600;
  font-size: 1.25rem;
  color: #D1D5DB;
  margin-bottom: 16px;
}

.painel-resumo {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.resumo-box {
  flex: 1;
  background-color: #ffffff;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  background-color: black;
}

.texto{
  color: white;
}
.resumo-topo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: 600;
}

.resumo-texto {
  color: #F9FAFB; 
}

.area-graficos {
  display: flex;
  gap: 24px;
  margin-bottom: 32px;
}

.bloco-grafico,
.bloco-categorias {
  flex: 1;
  background: #000000;
  padding: 16px;
  border-radius: 10px;
}

.grafico-placeholder {
  background-color: #000000;
  height: 180px;
  border-radius: 8px;
}

.lista-categorias {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
}

.lista-categorias li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 6px;
  border-bottom: 1px solid #ffffff;
}

.tabela-transacoes {
  background-color: #000000;
  padding: 16px;
  border-radius: 10px;
}

.linha-cabecalho,
.linha-dado {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  padding: 10px 0;
  color: white;
}

.linha-cabecalho {
  font-weight: bold;
  border-bottom: 1px solid #d1d5db;
  color: #ffffff;
}

.linha-dado {
  border-bottom: 1px solid #f3f4f6;
}

.entrada {
  color: #16a34a;
}

.saida {
  color: #dc2626;
}

.verde {
  color: #16a34a; 
}

